/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-press-notes-press-notes {
	// border: 1px dotted #f00;
}

.press-note {
  &__item {
    box-shadow: 0px 2px 5px #ddd;
    background: white;
    color: #000;
    border-radius: 5px;

    h3 {
      box-shadow: none;
      margin: 0;
    }

    p {
      box-shadow: none;
      margin: 0;
    }
  }
}
